@charset "UTF-8";


	html{
		-webkit-text-size-adjust: 100%;
		width: 100%;
		height: 100%;
	}

	.bg-member{
		background-color: #f5f5f5;
	}

	div{
		display: block;
	}

	* {
		box-sizing: border-box;
	}


	body{
		letter-spacing: 0;
		line-height: 1.5;
		font-size: 15px;
		color: #444;
		font-weight: 400;
		/* 폰트 상의 후 */
		font-family: Arial, sans-serif;
	}

	body, html{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	/* 메가박스 로고 */
	.ci a{
		display: block;
		width: 150px;
		height: 53px;
		background: url(https://img.megabox.co.kr/static/pc/images/common/ci/logo.png) center no-repeat;
		padding: 0;
		margin: 0 auto;
	}
	/* 메가박스 로고 */


	.ci{
		overflow: hidden;
		display: block;
		margin: 0;
		padding: 0 0 70px 0;
		text-align: center;
	}

	/**스탭 부분*/

	.member-wrap{
		width: 910px;
		min-height: 100%;
		margin: 0 auto;
		padding: 80px 100px;
		background-color: #fff;

	}

	.col-wrap{
		overflow: hidden;
	}

	.member-wrap .step-member ol li:first-child{
		margin-left: 0;
	}

	.member-wrap .step-member{
		overflow: hidden;
		position: relative;
		margin: 0 0 40px 0;
		padding: 0;
	}

	ol, ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.member-wrap .step-member ol li{
		float: left;
		margin: 0 0 0 102px;
		padding: 0;
		text-align: center;
		font-size: .9333em;
	}


	.step-member ol{
		margin-left: 0;
	}

	.step.on{
		border-bottom: 2px solid #503396;
		color: #503396;
	}

	.step{
		display: inline-block;
		position: relative;
		z-index: 2;
		margin: 0;
		padding: 0 0 15px 0;
		font-size: .9333em;
		letter-spacing: 0;
	}

	.member-wrap .step-member:after{
		content: '';
		overflow: hidden;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: #ebebeb;
	}




	.member-wrap .page-info-txt{
		padding: 0 0 20px 0;
		line-height: 1.1;
	}

	.memver-wrap p{
		margin: 0;
	}


	strong{
		display: block;
		padding: 0 0 10px 0;
		font-size: 1.4em;
		color: #222;
		font-weight: 400;
	}

	/* 	전체 동의 */
	.all-chk {
		margin: 0;
		padding: 0 0 15px 0;
		font-size: 1.2em;
		color: #222;
		border-bottom: 1px solid #ebebeb;
	}

	lable{
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}

	.must{
		color: #503396;
	}

	.block{
		padding: 30px 0 0 0;
	}


	/* 전체 동의 */

	/* 서비스 이용약관 제1조 --- */
	.scroll{
		overflow: hidden;
		overflow-y: scroll;
		height:  130px;
		padding: 20px;
		border: 1px solid #d8d9db;
		font-size: 14px!important;
	}

	dd, dl, dt{
		margin: 0;
		padding: 0;
	}

	.btn-next{
		padding: 40px 0 0 0;
		text-align: center;
	}

	button{
		height: 46px;
		width: 120px;
		padding: 0;
		color: #fff;
		background-color: #503396;
		border-radius: 4px;
		display: inline-block;
		text-decoration: none;
		vertical-align: middle;
	}
		
