<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- DB 테이블과 컬럼들을 mapper 매핑을 위한 변수 선언-->

	<properties>
		<!--
		* property
		- name : mapper.xml에서 사용될 이름
		- value : DB 테이블 및 컬럼 이름
		 -->
		 <property name="movie" value="MOVIE"/>
		 <property name="movieId" value="MOVIE_ID"/>
		 <property name="ageLimit" value="AGE_LIMIT"/>
		 <property name="movieName" value="MOVIE_NAME"/>
		 <property name="movieGenre" value="MOVIE_GENRE"/>
		 <property name="movieSummary" value="MOVIE_SUMMARY"/>
		 <property name="screenTime" value="SCREEN_TIME"/>
		 <property name="releaseDate" value="RELEASE_DATE"/>
		 <property name="movieCast" value="MOVIE_CAST"/>
		 <property name="audCount" value="AUD_COUNT"/>
	</properties>

	<!-- Underscore 명명법을 Camel 명명법으로 매핑 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>


	<!--  typeAliases : mapper.xml의 select 리턴 타입에 들어갈 클래스 경로를 설정 -->
	 <typeAliases>
	 	<package name="goott.spring.project1.domain"/>
	 </typeAliases>

</configuration>
